language: generic
sudo: required
script: swift test -c release -Xswiftc -enable-testing
matrix:
  include:
    - os: osx
      osx_image: xcode9.4
      install:
        - brew update
        - brew install libsodium
    - os: linux
      dist: trusty
      install:
        - wget https://swift.org/builds/swift-4.1.3-release/ubuntu1404/swift-4.1.3-RELEASE/swift-4.1.3-RELEASE-ubuntu14.04.tar.gz
        - tar xzf swift-4.1.3-RELEASE-ubuntu14.04.tar.gz
        - export PATH=`pwd`/swift-4.1.3-RELEASE-ubuntu14.04/usr/bin:"${PATH}"
        - sudo apt-get install -y libssl-dev
        - wget https://download.libsodium.org/libsodium/releases/libsodium-1.0.16.tar.gz
        - tar xzf libsodium-1.0.16.tar.gz
        - cd libsodium-1.0.16
        - ./configure
        - make && make check
        - sudo make install
        - cd ..
        - sudo ldconfig
    - name: Code Quality Checks
      os: osx
      osx_image: xcode10
      install:
        - brew update
        - brew upgrade swiftlint || true
      addons:
        sonarcloud:
          organization: bouke-github
      script:
        - swiftlint --strict
        - sonar-scanner
