language: generic
sudo: required
script: swift test -c release -Xswiftc -enable-testing
matrix:
  include:
    - os: osx
      osx_image: xcode9.4
      before_install:
        - brew update
        - brew install libsodium
    - os: linux
      dist: trusty
      before_install:
        # workaround for https://travis-ci.community/t/then-sudo-apt-get-update-failed-public-key-is-not-available-no-pubkey-6b05f25d762e3157-in-ubuntu-xenial/1728
        - sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 762E3157
        - sudo apt update
        - sudo apt install libavahi-compat-libdnssd-dev
        - wget https://swift.org/builds/swift-4.1.3-release/ubuntu1404/swift-4.1.3-RELEASE/swift-4.1.3-RELEASE-ubuntu14.04.tar.gz
        - tar xzf swift-4.1.3-RELEASE-ubuntu14.04.tar.gz
        - export PATH=`pwd`/swift-4.1.3-RELEASE-ubuntu14.04/usr/bin:"${PATH}"
        - sudo apt-get install -y libssl-dev
        - wget https://download.libsodium.org/libsodium/releases/libsodium-1.0.16.tar.gz
        - tar xzf libsodium-1.0.16.tar.gz
        - cd libsodium-1.0.16
        - ./configure
        - make && make check
        - sudo make install
        - cd ..
        - sudo ldconfig
    - name: Code Quality Checks
      os: osx
      osx_image: xcode10
      install:
        - brew update
        - brew upgrade swiftlint || true
      script: swiftlint --strict
    - name: SonarCloud scanner
      os: osx
      osx_image: xcode10
      addons:
        sonarcloud:
          organization: bouke-github
      script: sonar-scanner
  allow_failures:
    - name: SonarCloud scanner
